<!DOCTYPE html>
<html>
<head>
    <title>Login - Aeroplan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h1>AEROPLAN</h1>
    <h3>Revenue Management System</h3>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="/">

        <input type="text"
               name="username"
               placeholder="Username"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <button type="submit">Login</button>
    </form>

    <p>Authorized Staff? <a href="/register">Sign Up</a></p>
</div>

</body>
</html>